@import "_nullstyle"; 

// *************************************************

// adaptive font

$maxWidth: 1200;

@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
};

// *************************************************
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 600;
$xs: 480;

@mixin rmin($width) {
  @media (min-width: #{$width}px) {
    @content;
  }
}

@mixin rhmin($width) {
  @media (min-height: #{$width}px) {
    @content;
  }
}

@mixin rhmax($width) {
  @media (max-height: #{$width}px) {
    @content;
  }
}

@mixin rmax($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}
// *************************************************

body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    &.__lock {
        overflow: hidden;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}



// *************************************************
  
.return__btn {
    background-color: #323232;
    border-radius: 50%;
    border: solid 1px #ffffff;
    width: 46px;
    height: 46px;
    position: fixed;
    z-index: 20;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
  
.return__btn img {
    width: 100%;
    height: 30%;
    transform: rotate(-90deg);
    align-self: center;
}

.hidden {
    display: none;
}

// *************************************************

.widget {

    &.lang {    
        
        .language {
            border-radius: 24px;
            border: 1px solid #000;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            cursor: pointer;
            width: 80px;
            background: #fff;
        }

        .arrow-down {
            transition: all 0.3s ease 0s;

            &__active {
                transform: rotate(180deg);
            }
        }
        
        .current-language {
            color: #000;
            // font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
            font-size: var(--btn-text-font-size, 16px);
            line-height: var(--btn-text-line-height, 28px);
            letter-spacing: var(--btn-text-letter-spacing, 0.02em);
            font-weight: var(--btn-text-font-weight, 600);
        }
        
        .language-options {
            display: none;
            position: absolute;
            top: calc(100% + 8px);
            left: 0;
            right: 0;
            background: #fff;
            border: 1px solid #000;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 2;
            color: #000;
            // font-family: var(--btn-text-font-family, "Manrope-SemiBold", sans-serif);
            font-size: var(--btn-text-font-size, 16px);
            line-height: var(--btn-text-line-height, 28px);
            letter-spacing: var(--btn-text-letter-spacing, 0.02em);
            font-weight: var(--btn-text-font-weight, 600);

            .language-options__item {
                padding: 8px 12px;
                cursor: pointer;

                &:hover {
                    background: #f1f1f1;
                    border-radius: 8px;
                }
            }

            &.visible {
                display: block
            }
        }
    }

    &.theme {
        position: relative;
        width: 100px;
        height: 32px;
        border-radius: 6px;

            /* Switcher */

            & .switcher {
                position: absolute;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                border: none;
            }

            /* Switcher Legend*/

            & .switcher__legend {
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }

            /* Switcher Radio*/

            .switcher__radio {
                -webkit-appearance: none;
                appearance: none;
                margin: 0;
                width: 32px;
                height: 32px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 24px;
                transition: filter 0.1s ease-in;
            }

            .switcher__radio:focus {
                outline: none;
            }

            .switcher__radio--light {
                background-image: url('../img/sun_icon.svg');

                &:checked ~ .switcher__status {
                    background-position: left 0px center;
                }
            }

            .switcher__radio--auto {
                background-image: url('../img/circle_icon.svg');

                &:checked ~ .switcher__status {
                    background-position: center center;
                }
            }

            .switcher__radio--dark {
                background-image: url('../img/moon_icon.svg');

                &:checked ~ .switcher__status {
                    background-position: right 0px center;
                }
            }

            /*Switcher Status*/

            .switcher__status {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0;
                z-index: -1;
                box-shadow: 0 0 0 2px rgb(0 0 0 / 0.2);
                border-radius: 18px;
                background-color: rgb(255 255 255 / 0.5);
                background-repeat: no-repeat;
                background-image: url('../img/circle_full_icon.svg');
                background-size: 32px;
                background-position: center;
                transition: background-position 0.1s ease-in;
            }

            .switcher__radio:focus-visible ~ .switcher__status {
                box-shadow: 0 0 0 2px #000000;
            }
                        
    }

    &.burger {
        display: none;

        @media (max-width: 767px) {
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;

            & span,
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #fff;
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;                                           
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

            &.__active {

                span {
                    transform: scale(0) translate(0px, -50%);
                }

                &::before {
                    top: 50%;
                    transform: rotate(-45deg) translate(0px, -50%);
                }

                &::after {
                    bottom: 50%;
                    transform: rotate(45deg) translate(0px, 50%);
                }
            }
        }
    }
}

.logo {
    border-radius: 8px;
    background-color: var(--headerIconBgClr);
    position: relative;
    z-index: 5;
    width: 140px;
    height: 40px;
}

.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;

    &__ico {
        width: 30px;
        margin: 10px;    
        // img {
        //     max-height: 100%;
            
        // }        
    }
}


// *************************************************

.header {
    
    background-color: var(--headerBgColor);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &__body {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;    
    }

    &__menu-body {
        @media (max-width: 767px) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 100px 30px 30px 30px;
            transition: left 0.3s ease 0s;

            overflow: auto;

            &::before {
                content: "";
                position: fixed;
                width: 100%;
                top: 0;
                left: 0;
                height: 70px;
                z-index: 2;
                background-color: var(--headerBgColor);
            }

            &.__active {
                left: 0;
            }
        }
    }

    &__menu-list {
        display: flex;
        align-items: center;

        > li {
            position: relative;
            margin: 0 0 0 20px;

            display: flex;
            align-items: center;
        }
    
        .header__menu-item {
            color: var(--headerMenuItemTxtClr);
            font-size: 18px;
        }
    
        .header__menu-item:hover {
            text-decoration: underline;
        }
    
        .header__menu-item-arrow {
                width: 0;
                height: 0;
                margin: 0 0 0 5px;
                transition: transform 0.3s ease 0s;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 10px solid #ffffff;            
        }

        .header__menu-sub-list {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #000000;
            padding: 15px;
            min-width: 170px;

            transform: translate(0px, 10%);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.3s ease 0s;

            display: block;
            // max-height: 0;
        
            li {
                margin: 0 0 10px 0;
            }
        
            li:last-child {
                margin: 0 0 0 0;
            }
        
            .header__menu-sub-item {
                color: #ffffff;
            }
        
            .header__menu-sub-item:hover {
                text-decoration: underline;
            }
        }

        // ****************************************
        // тут стілізуються елементи для стану, коли тег body має клас __pc(стационарних пристроїв)
        body.__pc & {
            > li:hover .header__menu-sub-list {
                opacity: 1;
                visibility: visible;
                transform: translate(0px, 0px);
                pointer-events: all;
            }
        } 

        // ****************************************
        // тут стілізуються елементи для стану, коли тег body має клас  __touch(мобільних, або з тач-скрином пристроїв)
        body.__touch & {

            > li.__active .header__menu-sub-list {
                opacity: 1;
                visibility: visible;
                transform: translate(0px, 0px);
                pointer-events: all;
            }

            > li.__active .header__menu-item-arrow {
                transform: rotate(-180deg);
            }
        }
        // ****************************************

        @media (max-width: 767px) {
            display: block;

            > li {
                flex-wrap: wrap;
                margin: 0 0 30px 0;
            }

            > li.__active .header__menu-sub-list {
                max-height: 500px;
                margin: 20px 0 0 0;
                padding: 15px;
            }
    
            .header__menu-item {
                font-size: 24px;
                flex: 1 1 auto;
            }
    
            .header__menu-sub-list {
                position: relative;
                background-color: #fff;
                flex: 1 1 100%;
    
                max-height: 0px;
                padding: 0;

                .header__menu-sub-item {
                    font-size: 20px;
                    color: #000000;
                }
            }
        }
    }

}

// *************************************************

.main {
    background-color: #e6b2b2;
    flex: 1 1 auto;
    padding: 70px 10px 10px 10px;
}

.page__section {
    padding: 10px;
    margin: 0 auto;

    &-title {
        @include adaptiv-font(30, 20);
        text-align: center;
        margin-bottom: 10px;   
        text-wrap: wrap;
    }

    &-text {
        font-size: 16px;
        // color: var(--mainTxtClr);
        text-align: center;
    
        p {
            padding: 0 0 10px 0;            
        }
    }
}

.page__section-1 {    

    .page__section-box {
        background-color: #6c6975;

        background-image: url('../img/Urea_Reactor.png');
        background-repeat: no-repeat;
        background-size: auto 400px;
        background-position: left 10% top 50px;

        padding-bottom: 50px;

        color: var(--mainTxtClr);
    }

    .box-content {
        background-color: #6c697592;
    }

    .page__section-form {
        border: 1px solid #000000;
        width: 40%;
        margin: 50px auto;

        padding: 15px;

        @include rmax($xl) {
            width: 50%;
        }

        @include rmax($lg) {
            width: 70%;
        }

        @include rmax($md) {
            width: auto;
        }

        .form-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 15px 30px;

            .item-label {
                padding-block: 10px;
            }

            .item-input {
                padding: 10px;
                border: 1px solid currentColor;
                border-radius: 3px;
                
                outline: 2px solid transparent;

                &:focus {
                    outline-color: #000000;
                    outline-offset: 3px;
                }
            }

            &.form__buttons {
                justify-content: space-around;
                flex-direction: row;

                .form__buttons-item {
                    border-radius: 24px;
                    border: 1px solid #000;
                    padding: 8px 12px;
                    min-width: 80px;
                }
            }

            @include rmax($xs) {
                flex-direction: column;
            }
        }
    }

    .subtitle {
        font-weight: 600;
        text-decoration: underline;
    }

    .table-container {
        margin-block: 10px;        
        width: 100%;
        overflow-x: auto;
    }

    .table {
        // display: block;
        margin: 0 auto;
        border-collapse: collapse;

        // text-align: center;

        th, td {
            padding: 8px;
            border: 1px solid black;
          }
    }


}








// *************************************************

.footer {
    background-color: #008000;
}

// *************************************************